/* --------------------------
        Import Google Font
--------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* --------------------------
        Create Custom CSS
--------------------------- */

:root {
  --main-color: #c3073f;
  --section-BGC: #1a1a1d;
}

/* --------------------------
        Common CSS / Utilities
--------------------------- */

body {
  font-family: "Poppins", sans-serif;
}
.max_width {
  width: 1320px;
  margin: auto;
}
.active {
  background-color: var(--main-color) !important;
  color: #ffffff !important;
}

/* ----------
    For view all blog Button
------------  */
.show_all_btn {
  display: none;
  margin-top: 50px;
  margin-bottom: 20px;
}
.show_all_btn button {
  padding: 12px 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background: #dd0000;
  border-radius: 5px;
  border-width: 0;
}
/* --------------------------
        Header section Style
--------------------------- */
.hero_section {
  background-color: var(--section-BGC);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_section .wel_text {
  width: 50%;
  margin: 0px 25px 111px 106px;
}
.hero_section .wel_text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  color: #ffffff;
}
.hero_section .wel_text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.button_area {
}
.hero_section .wel_text a {
  text-decoration: none;
  padding: 16px 25px;
  background: var(--main-color);
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  margin-top: 30px;
}

.hero_section .wel_text a:hover {
  background: var(--section-BGC);
  border: 2px solid var(--main-color);
  color: var(--main-color);
  padding: 14px 23px;
}
.hero_section .wlc_image {
  width: 50%;
}

.hero_section .wlc_image img {
  width: 580px;
  height: 613px;
  margin-bottom: -7px;
}

/* --------------------------
        Blogs section Style
--------------------------- */
.blogs_container {
  display: flex;
  margin: 130px auto;
}

.blogs_container aside {
  background-color: var(--section-BGC);
  width: 312px;
  height: 312px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogs_container aside a {
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--section-BGC);
  background-color: #ffffff;
  width: 252px;
  margin: 20px auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.blogs_container aside a:hover {
  transform: scale(1.1);
}

.blogs {
  width: calc(100%-312px);
  margin-left: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.blogs article {
  width: 312px;
  height: 362px;
  border-radius: 5px;
  border: 1px solid #00000012;
}

.blogs .blog_btn {
  border-radius: 5px;
  border: 1px solid #0000005a;
  background-color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--section-BGC);
  padding: 4px 16px;
}
.blogs .details {
  padding: 20px;
}
.blogs .details h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin: 15px 0 20px 0;
}

.blogs .details .comment span {
  padding-right: 30px;
}
.blogs .details .comment span i {
  padding-right: 10px;
}

/* --------------------------
       Footer section Style
--------------------------- */

footer {
  /* width: 100%; */
  background-color: var(--section-BGC);
  text-align: center;
  padding: 130px 140px;
  color: #ffffff;
}

footer hr {
  width: 100%;
  opacity: 30%;
  margin: 50px auto;
}
footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 898px;
}
footer ul li {
  padding: 10px 20px;
  border-radius: 8px;
}
footer ul li:hover {
  background-color: var(--main-color);
}
footer ul li a {
  text-decoration: none;
  color: #b9b9b9;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* --------------------------
       For socialmedia sectino
--------------------------- */
.social_area {
  margin: 50px 8rem 0 8rem;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.social_area a {
  text-decoration: none;
}
.social_area a i {
  /* margin: 0 2rem; */
  color: white;
  font-size: 2.5rem;
}
.social_area a i:hover {
  color: var(--main-color);
}
/* --------------------------------------------------
  -
    -
      -
        - 
          - 
            -
               Responsive css
            -
          -
         -
        - 
      - 
    -
  - 
  
-------------------------------------------------- */

/* -- 



--------------------------
       For X-Small Devices
---------------------------




-- */
@media only screen and (max-width: 575.98px) {
  /* --------------------------
       For Header section
--------------------------- */
  .hero_section {
    flex-direction: column;
    width: 80%;
    padding: 10% 10% 0 10%;
  }
  .hero_section .wel_text {
    width: 100%;
    margin: auto;
  }
  .hero_section .wel_text h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
  }
  .hero_section .wel_text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .button_area {
    display: flex;
    justify-content: center;
  }
  .hero_section .wel_text a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
  }
  .hero_section .wlc_image {
    width: 100%;
    margin-top: 35%;
  }
  .hero_section .wlc_image img {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* --------------------------
       For Blog section
--------------------------- */

  .blogs_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 24px auto;
  }

  .blogs_container aside {
    background-color: white;
    height: auto;
    width: auto;
  }

  .blogs_container aside a {
    border: 1px solid #e8e8e8;
    margin: 16px auto;
    padding: 10px 18px;
    width: 180px;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 0;
    width: 90%;
    padding: 0 5%;
  }

  .blogs article {
    width: auto;
    height: auto;
    border-radius: 10px;
    border: 1px solid #00000012;
  }
  .blogs article .thumbnail img {
    width: 100%;
  }

  /* --------------------------
       For Footer section
--------------------------- */

  footer {
    width: auto;
    padding: 24px;
  }
  footer hr {
    margin: 24px auto;
  }

  footer ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .social_area {
    border: none;
    margin: 1.5rem 0 0 0;
    justify-content: space-around;
  }
  .social_area a i {
    font-size: 1.5rem;
  }
}

/* -- 



--------------------------
       For Small Devices
---------------------------




-- */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .max_width {
    width: auto;
  }
  /* --------------------------
       For Header section
--------------------------- */
  .hero_section {
    flex-direction: column;
    width: 80%;
    padding: 10% 10% 0 10%;
  }
  .hero_section .wel_text {
    width: 100%;
    margin: auto;
  }
  .hero_section .wel_text h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
  }
  .hero_section .wel_text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .button_area {
    display: flex;
    justify-content: center;
  }
  .hero_section .wel_text a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
  }
  .hero_section .wlc_image {
    width: 100%;
    margin-top: 35%;
  }
  .hero_section .wlc_image img {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }

  /* --------------------------
     For Blog section
--------------------------- */

  .blogs_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 24px auto;
  }

  .blogs_container aside {
    background-color: #ffffff;
    width: auto;
    height: auto;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .blogs_container aside a {
    margin: 20px 11px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    border: 1px solid #e8e8e8;
    font-size: 18px;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    justify-items: center;
    align-items: center;
    align-content: center;
    margin: 0;
    width: 90%;
    padding: 0 5%;
  }

  .blogs article {
    width: auto;
    height: auto;
    border-radius: 10px;
    border: 1px solid #00000012;
  }
  .blogs article .thumbnail img {
    width: 100%;
  }

  /* --------------------------
       For Footer section
--------------------------- */

  footer {
    width: auto;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 55px;
  }
  footer hr {
    margin: 30px auto;
  }
  footer ul {
    width: 635px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
  }
  footer ul li {
    padding: 10px;
  }
  .social_area {
    border: none;
    margin: 2rem 0 0 0;
  }
}
/* -- 



--------------------------
       For Mid Devices
---------------------------




-- */

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .max_width {
    width: auto;
  }
  /* --------------------------
       For Header section
--------------------------- */

  .hero_section {
    width: 80%;
    padding: 5% 10% 0 10%;
  }

  .hero_section .wel_text {
    margin: 0px 25px 111px 0px;
  }
  .hero_section .wel_text h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .hero_section .wel_text p {
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hero_section .wlc_image img {
    width: 100%;
    height: auto;
    margin-bottom: -7px;
  }
  /* --------------------------
       For Blogs section
--------------------------- */
  .blogs_container {
    flex-direction: column;
    align-items: center;
    margin: 70px 50px;
  }

  .blogs_container aside {
    background-color: #ffffff;
    width: auto;
    height: auto;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .blogs_container aside a {
    margin: 20px 11px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 200px;
    border: 1px solid #e8e8e8;
  }
  .blogs {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
  }

  .blogs article.hide_items {
    display: none;
  }
  .show_all_btn {
    display: block;
  }

  /* --------------------------
       For Footer section
--------------------------- */

  footer {
    width: auto;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 55px;
  }
  footer hr {
    margin: 30px auto;
  }
  footer ul {
    width: 635px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
  }
  footer ul li {
    padding: 10px;
  }

  .item_1 {
    grid-column: 2 / 3;
  }
  .item_2 {
    grid-column: 4 / 3;
  }
}

/* -- 



--------------------------
       For Large Devices
---------------------------




-- */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .max_width {
    width: auto;
  }
  /* --------------------------
       For Header section
--------------------------- */
  .hero_section .wel_text {
    margin: 0px 25px 111px 5%;
  }
  .hero_section .wel_text h1 {
    font-size: 50px;
  }
  .hero_section .wel_text p {
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .hero_section .wlc_image img {
    width: 100%;
    height: auto;
    margin-bottom: -7px;
  }

  /* --------------------------
       For Blogs section
--------------------------- */

  .blogs_container {
    margin: 2% auto;
    flex-direction: column;
    align-items: center;
  }
  .blogs_container aside {
    background-color: #ffffff;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5%;
  }
  .blogs_container aside a {
    border: 1px solid #e8e8e8;
    margin: 0 20px;
  }

  .blogs {
    margin: 0 3%;
    display: grid;
  }

  footer {
    width: 90%;
    padding: 80px 5%;
  }
}

/* --------------------------------------------------
  -
    -
      -
        - 
          - 
            -
               Secondary Page CSS
            -
          -
         -
        - 
      - 
    -
  - 
  
-------------------------------------------------- */

article#match_details {
  width: 312px;
  height: 242px;
  /* padding: 50px 30px; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
article .flag {
  display: flex;
}
article .flag h3 {
  margin: 0 20px;
}

article .match_info h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #161616;
}
article .match_info p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #4d4d4d;
  margin-top: 10px;
}
